.horario-container {
  background-color: rgb(43, 43, 43); 
  color: white;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  padding: 1em;
  gap: 1em; 
}

ion-title {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1em; 
}

.dias-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 0.5em;
  margin-top: 0em; 
  padding: 0.5em; 
  width: 100%; 
  background-color: rgb(43, 43, 43); 
}

.dia-boton {
  background-color: rgba(55, 241, 123, 0.938);
  border: 2px solid rgba(55, 241, 123, 0.938);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  padding: 0.5em 1em;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.dia-boton:hover {
  background-color: rgba(55, 241, 123, 0.8);
}

.dia-boton.dia-activo {
  background-color: rgb(0, 194, 71); 
  color: white;
  font-weight: bold;
  border: 2px solid rgb(0, 194, 71);
}

.dia-header {
  background-color: rgba(55, 241, 123, 0.938);
  width: 80%;
  padding: 0.5em;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  margin-top: 1em; 
}

.clases {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  width: 80%; 
  gap: 1em; 
  overflow-y: auto;
  max-height: 60%; 
}

.clase {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  padding: 0.8em 1em;
  background-color: rgb(43, 43, 43); 
  border: 2px solid rgba(55, 241, 123, 0.938); 
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  font-size: 1.2em;
  color: white;
}

.hora {
  font-size: 1em;
  color: rgba(55, 241, 123, 0.938); 
}

.materia {
  font-size: 1.1em;
  color: white;
}

.navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%; 
  margin-top: 1em;
}

.arrow-left,
.arrow-right {
  font-size: 2.5em;
  color: rgba(55, 241, 123, 0.938);
  cursor: pointer;
}

ion-title {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: bold; 
  text-transform: uppercase;
  margin: 0; 
  text-align: center; 
}

.arrow-left.disabled,
.arrow-right.disabled {
  opacity: 0.5;
  pointer-events: none;
}
