<ion-header [translucent]="true">
  <ion-toolbar style="--background: rgb(55, 241, 123, 0.938);">
    <ion-title>Horario</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content id="main-content" [fullscreen]="true">
  <div *ngFor="let dia of ['lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado']">
    <ion-card style="border: 2px solid rgb(55, 241, 123, 0.938);">
      <ion-card-header>
        <ion-card-title>{{ dia.charAt(0).toUpperCase() + dia.slice(1) }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li *ngFor="let item of horario[dia]" class="horario-item">
            <span class="hora">{{ item.hora }}</span>
            <span class="clase">{{ item.clase }}</span>
          </li>
        </ul>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

