<ion-header [translucent]="true">
  <ion-toolbar style="--background: var(--ion-color-primary);">
    <ion-title>Horario</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="dias-container">
  <button 
    *ngFor="let dia of dias; let i = index" 
    (click)="cambiarDia(i)"
    [ngClass]="{'dia-activo': i === diaActualIndex}" 
    class="dia-boton"
  >
    {{ dia }}
  </button>
</div>

<div class="horario-container">
  <div class="dia-header">
    <h2>{{ diaActual }}</h2>
  </div>

  <div class="clases">
    <div *ngFor="let clase of horario[diaActual]" class="clase">
      <div class="hora">{{ clase.hora }}</div>
      <div class="materia">{{ clase.clase }}</div>
    </div>
  </div>

  <div class="navegacion">
    <ion-icon
      name="arrow-back-circle"
      (click)="prevDay()"
      class="arrow-left"
      [class.disabled]="diaActualIndex === 0"
    ></ion-icon>
    <ion-icon
      name="arrow-forward-circle"
      (click)="nextDay()"
      class="arrow-right"
      [class.disabled]="diaActualIndex === dias.length - 1"
    ></ion-icon>
  </div>
</div>
