.horario-container {
  background-color: rgb(43, 43, 43); /* Fondo oscuro */
  color: white;
  height: 100vh; /* Pantalla completa */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrado vertical */
  align-items: center; /* Centrado horizontal */
  padding: 1em;
  gap: 1em; /* Espacio entre elementos */
}

ion-title {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

.dia-header {
  background-color: rgba(55, 241, 123, 0.938);
  width: 80%; 
  padding: 0.5em;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 10px;
  color: rgb(0, 0, 0);
}

.clases {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  width: 80%; 
  gap: 1em; 
  overflow-y: auto;
  max-height: 60%; 
}

.clase {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  padding: 0.8em 1em;
  background-color: rgb(43, 43, 43); 
  border: 2px solid rgba(55, 241, 123, 0.938); 
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  font-size: 1.2em;
  color: white;
}

.hora {
  font-size: 1em;
  color: rgba(55, 241, 123, 0.938); 
}

.materia {
  font-size: 1.1em;
  color: white;
}

.navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%; 
  margin-top: 1em;
}

.arrow-left,
.arrow-right {
  font-size: 2.5em;
  color: rgba(55, 241, 123, 0.938);
  cursor: pointer;
}

.arrow-left.disabled,
.arrow-right.disabled {
  opacity: 0.5;
  pointer-events: none;
}
