<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Página No Encontrada</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">☹ Pagina No Encontrada ☹</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="error-container">
    <img src="/src/assets/images/caratriste4.png" alt="Error" class="error-image" />
    <h1>404</h1>
    <p>Lo sentimos, no encontramos la pagina que buscas.</p>
  </div>
</ion-content>
