ion-header {
  --background: rgb(55, 241, 123, 0.938); 
  color: black;
}

ion-toolbar {
  --background: rgb(55, 241, 123, 0.938); 
}

ion-title {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: normal; 
  text-transform: uppercase;
  
}

ion-back-button {
  color: black; 
}


ion-content {
  --background: rgb(43, 43, 43); 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
}

.error-image {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
}

h1 {
  font-size: 3rem;
  color: rgb(255, 0, 0); 
  margin: 10px 0;
}

p {
  font-size: 1.2rem;
  color: rgb(200, 200, 200);
  max-width: 300px;
}

ion-header[collapse="condense"] ion-title {
  font-size: 2rem;
  color: black;
}
