/* Estilos del ion-header */
ion-header {
  --background: var(--ion-color-primary);  /* Fondo dinámico */
  color: var(--ion-text-color);  /* Texto dinámico */
}

ion-toolbar {
  --background: var(--ion-color-primary);  /* Fondo dinámico */
}

ion-title {
  color: var(--ion-text-color);  /* Texto dinámico */
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: uppercase;
}

ion-back-button {
  color: var(--ion-text-color);  /* Texto dinámico */
}

/* Estilos del ion-content */
ion-content {
  --background: var(--ion-background-color);  /* Fondo dinámico */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Estilos para el contenedor del error */
.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--ion-text-color);  /* Texto dinámico */
  padding: 20px;
}

/* Estilos de la imagen del error */
.error-image {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
}

/* Estilos del título 404 */
h1 {
  font-size: 3rem;
  color: var(--ion-color-danger);  /* Color dinámico para el error */
  margin: 10px 0;
}

/* Estilos del mensaje de error */
p {
  font-size: 1.2rem;
  color: var(--ion-text-color);  /* Texto dinámico */
  max-width: 300px;
}

/* Estilo para el título condense */
ion-header[collapse="condense"] ion-title {
  font-size: 2rem;
  color: var(--ion-text-color);  /* Texto dinámico */
}
