.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: -8px; 
}

.qr-text {
  font-size: 1.5rem;
  margin-right: 2px; 
}

.asistance-text {
  font-size: 1.5rem;
  color: rgb(255, 136, 0);
  border: 2px solid rgb(255, 136, 0); 
  border-radius: 4px;
  padding: 2px 4px;
  background-color: white;
}


ion-header {
  --padding-start: 0;
  --padding-end: 0;
}

ion-toolbar {
  --background: rgb(255, 136, 0); 
  --color: white; 
}

ion-title {
  display: flex;
  justify-content: center;
  width: 100%;
}


ion-content {
  background: linear-gradient(135deg, #6a0572, #aa00ff); 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
  padding: 10px;
  border: 2px solid rgb(255, 136, 0); 
  max-width: 300px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


ion-item {
  --background: white;
  --border-radius: 10px;
  margin-bottom: 20px;
  --border-color: rgb(255, 136, 0);
  --border-width: 2px;
  --border-style: solid;

  ion-label {
    color: rgb(0, 0, 0); // Color de la etiqueta
  }

  ion-input {
    color: #000; // Color del texto en el input
    --border-radius: 10px;
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
}

ion-button {
  --background: rgb(255, 136, 0);
  --border-radius: 20px;
  transition: background 0.3s;

  &:hover {
    --background: #dc7404; 
  }
}

.error-message {
  color: red;
  font-size: 12px;
  margin-left: 10px;
}

.forgot-password a {
  color: rgb(255, 136, 0); 
  text-decoration: underline;
  font-size: 0.9rem;
  margin-top: 10px;
  display: block;
  text-align: center;
}
