.header-content {
  display: flex;
  align-items: center;
}

.qr-text {
  font-size: 1.5rem;
  margin-right: 4px;
}

.asistance-text {
  font-size: 1.5rem;
  color: rgb(255, 136, 0);
  border: 2px solid rgb(255, 136, 0); 
  border-radius: 4px;
  padding: 2px 4px;
  background-color: white;
}

ion-footer {
  --background: rgb(255, 136, 0); 
}

ion-toolbar {
  --background: rgb(255, 136, 0); 
  --color: white; 
  --padding-start: 90px;
  --padding-end: 90px;
}

ion-title {
  display: flex;
  justify-content: center;
  width: 100%;
}

ion-header {
  --padding-start: 0;
  --padding-end: 0;
}

.login-page {
  background: linear-gradient(135deg, #6a0572, #aa00ff); 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

ion-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
  padding: 15px; 
  border: 2px solid rgb(255, 136, 0); 
}

ion-item {
  --background: white;
  --border-radius: 10px;
  margin-bottom: 20px;
  --border-color: rgb(255, 136, 0);
  --border-width: 2px;
  --border-style: solid;
}

ion-button {
  --background: rgb(255, 136, 0);
  --border-radius: 20px;
  transition: background 0.3s;

  &:hover {
    --background: #dc7404; 
  }
}

.error-message {
  color: red;
  font-size: 12px;
  margin-left: 10px;
}

ion-label {
  color: rgb(255, 136, 0); 
}

ion-input {
  color: #000; 

 
  --border-radius: 10px;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


.forgot-password a {
  color: rgb(255, 136, 0); 
  text-decoration: underline;
  font-size: 0.9rem;
  margin-top: 10px;
  display: block;
  text-align: center;
}
