<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginFormulario" (ngSubmit)="validacionLogin()">  
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <div *ngIf="loginFormulario.get('username')?.invalid && loginFormulario.get('username')?.touched" class="error-message">
      El usuario es requerido.
    </div>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="loginFormulario.get('password')?.invalid && loginFormulario.get('password')?.touched" class="error-message">
      La contraseña debe tener al menos 6 caracteres.
    </div>

    <ion-button expand="full" type="submit" [disabled]="loginFormulario.invalid">Ingresar</ion-button>
  </form>
</ion-content>
