.header-content {
  display: flex;
  align-items: center;
}

.qr-text {
  font-size: 1.5rem;
  margin-right: 4px;
}

.asistance-text {
  font-size: 1.5rem;
  color: purple;
  border: 2px solid purple;
  border-radius: 4px;
  padding: 2px 4px;
  background-color: white;
}

ion-footer {
  --background: orange;
}

ion-toolbar {
  --background: purple;
  --color: white;
  --padding-start: 90px;
  --padding-end: 90px;
}

ion-title {
  display: flex;
  justify-content: center;
  width: 100%;
}

ion-header {
  --padding-start: 0;
  --padding-end: 0;
}

.login-page {
  background: linear-gradient(135deg, #6a0572, #aa00ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

ion-card {
  background-color: #676363; /* Color sólido */
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 15px; /* Aquí ya está incluido */
}

ion-item {
  --background: #fff;
  --border-radius: 10px;
  margin-bottom: 20px;
}

ion-button {
  --background: orange;
  --border-radius: 20px;
  --box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;

  &:hover {
    --background: #6a0572; /* Color al pasar el mouse */
  }
}

.error-message {
  color: red;
  font-size: 12px;
  margin-left: 10px;
}

ion-label {
  color: #6a0572;
}

ion-input {
  color: #000;

  // Estilos opcionales para los bordes
  --border-radius: 10px;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
