ion-header {
  --padding-start: 0;
  --padding-end: 0;
}

ion-toolbar {
  --background: rgb(55, 241, 123, 0.938); 
  --color: white;
}

ion-title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%; 
}

.qr-text {
  font-size: 1.5rem;
  margin-right: 4px;
}

.asistance-text {
  font-size: 1.5rem;
  color: white;
  border: 2px solid rgb(55, 241, 123, 0.938); 
  border-radius: 4px;
  padding: 2px 4px;
  background-color: rgb(55, 241, 123, 0.938);
}

.login-page {
  --background: rgb(43, 43, 43);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

ion-card {
  background-color: rgb(43, 43, 43);
  border-radius: 15px;
  padding: 15px;
  border: 2px solid rgb(55, 241, 123, 0.938);
  color: white;
}

ion-item {
  --background: white;
  --border-radius: 10px;
  margin-bottom: 20px;
  --border-color: rgb(55, 241, 123, 0.938);
  --border-width: 2px;
  --border-style: solid;

  ion-label {
    color: rgb(0, 0, 0);
  }

  ion-input {
    color: #000;
    --border-radius: 10px;
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
}

ion-button {
  --background: rgb(0, 255, 94);
  --border-radius: 20px;
  transition: background 0.3s;

  &:hover {
    --background: rgb(0, 194, 71);
  }
}

.error-message {
  color: red;
  font-size: 12px;
  margin-left: 10px;
}

.forgot-password a {
  color: rgb(55, 241, 123, 0.938);
  text-decoration: underline;
  font-size: 0.9rem;
  margin-top: 10px;
  display: block;
  text-align: center;
}

ion-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.login-container {
  flex-grow: 1;
}

.footer-signature {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.8); 
  font-size: 0.8rem;
  text-align: center;
  border-top: 1px solid rgb(55, 241, 123, 0.938);
  position: fixed; 
  bottom: 0;
  left: 0; 
  right: 0; 
  width: 100vw; 
  box-sizing: border-box; 
  z-index: 10;
}
