<ion-content id="main-content" class="ion-padding">
  <div class="credencial" *ngIf="usuario">
    <img *ngIf="fotoPerfil" [src]="fotoPerfil" alt="Foto de Perfil" style="width: 100px; height: 100px; border-radius: 50%;">
    <h2>{{ usuario.nombreCompleto }}</h2>
    <p><strong>Semestre:</strong> {{ usuario.semestre || 'No disponible' }}</p>
    <p><strong>Carrera:</strong> {{ usuario.carrera || 'No disponible' }}</p>
    <p><strong>Sección:</strong> {{ usuario.seccion || 'No disponible' }}</p>
    <p><strong>Jornada:</strong> {{ usuario.jornada || 'No disponible' }}</p>
  </div>
  <ion-card *ngIf="clasesDelDia.length > 0">
    <ion-card-header>
      <ion-card-title>Clases de Hoy</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li *ngFor="let clase of clasesDelDia">
          {{ clase.hora }} - {{ clase.clase }}
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="clasesDelDia.length === 0">
    <ion-card-header>
      <ion-card-title>No hay clases hoy</ion-card-title>
    </ion-card-header>
  </ion-card>
  <div class="bottom-navigation" style="background-color: rgb(255, 136, 0);">
    <ion-button fill="clear" class="nav-item" routerLink="/asistencia">
      <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
    </ion-button>
    <div class="center-item">
      <ion-button class="center-button" fill="clear" (click)="openCamara()">
        <ion-icon slot="icon-only" name="scan-outline"></ion-icon>
      </ion-button>
    </div>
    <ion-button fill="clear" class="nav-item" routerLink="/horario">
      <ion-icon slot="icon-only" name="time-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
<script src="https://smtpjs.com/v3/smtp.js"></script>
