<ion-menu side="end" content-id="main-content" style="--background:orange;">
  <ion-header>
    <ion-toolbar style="--background: orange;">
      <ion-title style="color: white;">Opciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item button (click)="logout()">
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-header>
  <ion-toolbar style="--background: orange;">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="header-content">
        <span class="qr-text">QR</span>
        <span class="asistance-text">Asistance</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="ion-padding">
  <div class="credencial">
    <h2>{{ usuario.nombreCompleto }}</h2>
    <p><strong>Semestre:</strong> {{ usuario.semestre }}</p>
    <p><strong>Carrera:</strong> {{ usuario.carrera }}</p>
    <p><strong>Sección:</strong> {{ usuario.seccion }}</p>
    <p><strong>Jornada:</strong> {{ usuario.jornada }}</p>
  </div>
  
  <ion-card *ngIf="clasesDelDia.length > 0">
    <ion-card-header>
      <ion-card-title>Clases de Hoy</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li *ngFor="let clase of clasesDelDia">
          {{ clase.hora }} - {{ clase.clase }}
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
  
  <ion-card *ngIf="clasesDelDia.length === 0">
    <ion-card-header>
      <ion-card-title>No hay clases hoy</ion-card-title>
    </ion-card-header>
  </ion-card>

  <div class="bottom-navigation" style="background-color: orange;">
    <ion-button fill="clear" class="nav-item" routerLink="/asistencia">
      <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
    </ion-button>
    <div class="center-item">
      <ion-button class="center-button" fill="clear" routerLink="/scan">
        <ion-icon slot="icon-only" name="scan-outline"></ion-icon>
      </ion-button>
    </div>
    <ion-button fill="clear" class="nav-item" routerLink="/horario">
      <ion-icon slot="icon-only" name="time-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
