.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-text {
  font-size: 1.5rem;
  margin-right: 4px;
  left: 15px;
  color: var(--ion-text-color); 
}

.asistance-text {
  font-size: 1.5rem;
  color: var(--ion-text-color); 
  border: 2px solid var(--ion-color-primary); 
  border-radius: 4px;
  padding: 2px 4px;
  background-color: var(--ion-color-primary); 
}

.dark-theme .header-content {
  background-color: var(--ion-background-color); 
}

.dark-theme .qr-text,
.dark-theme .asistance-text {
  color: var(--ion-text-color); 
  background-color: var(--ion-color-primary); 
}

.dark-theme ion-menu ion-item {
  --color: var(--ion-text-color); 
  --background: var(--ion-background-color); 
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.dark-theme ion-toolbar ion-title,
.dark-theme ion-card-title,
.dark-theme ion-card-header {
  color: var(--ion-text-color); 
}

ion-header {
  --background: var(--ion-color-primary); 
}

ion-toolbar {
  --background: var(--ion-color-primary); 
}

ion-toolbar ion-title {
  color: var(--ion-text-color); 
}

ion-content {
  --background: var(--ion-background-color); 
  color: var(--ion-text-color); 
}

.credencial {
  text-align: center;
  margin-bottom: 20px;
}

.credencial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.credencial h2 {
  font-size: 1.5em;
  color: var(--ion-text-color); 
}

.credencial p {
  font-size: 1.1em;
  color: var(--ion-text-color); 
}

ion-card {
  --background: var(--ion-background-color);
  color: var(--ion-text-color);
  border-radius: 15px;
  padding: 15px;
  border: 2px solid var(--ion-color-primary);
}

ion-card ion-card-title {
  color: var(--ion-text-color);
}

.bottom-navigation {
  --background: var(--ion-color-primary);
  display: flex;
  justify-content: space-between;
  padding: 0; 
  bottom: 0; 
  left: 0;
  width: 100%;
  z-index: 10; 
  box-sizing: border-box; 
}


.bottom-navigation .nav-item ion-icon {
  color: var(--ion-text-color); 
}

.bottom-navigation .center-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-button {
  --color: var(--ion-text-color);
}

ion-button {
  --background: var(--ion-color-primary);
  --color: var(--ion-text-color);
}

ion-button:focus, ion-button:active {
  --background: rgba(55, 241, 123, 0.5);
}

ion-icon {
  color: var(--ion-text-color); 
}

ion-button ion-icon {
  color: var(--ion-text-color); 
}

.dark-theme ion-item {
  --border-color: rgba(255, 255, 255, 0.3);
}

.dark-theme ion-card {
  --border-color: rgba(255, 255, 255, 0.5); 
}
