
ion-header {
  --background: rgb(55, 241, 123, 0.938); 
}

ion-toolbar {
  --background: rgb(55, 241, 123, 0.938); 
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-text {
  font-size: 1.5rem;
  margin-right: 4px;
  left: 15px;
}

.asistance-text {
  font-size: 1.5rem;
  color: rgb(255, 255, 255); 
  border: 2px solid rgb(55, 241, 123, 0.938);
  border-radius: 4px;
  padding: 2px 4px;
  background-color: rgb(55, 241, 123, 0.938);
  left: 15px;

}
.custom-loader-class {
  .loading-spinner {
    color: #28a745; 
  }

  .loading-message {
    color: #28a745; 
  }
}

.home {
  --background: rgb(43, 43, 43); 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.credencial {
  color: white;
  text-align: center;
  padding: 20px;
  background-color: rgb(43, 43, 43);
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

ion-card {
  background-color: rgb(43, 43, 43);
  border-radius: 15px;
  padding: 15px;
  border: 2px solid rgb(55, 241, 123, 0.938);
  color: rgb(255, 255, 255);
  margin-top: 10px;
}

ion-card-header {
  background-color: rgb(55, 241, 123, 0.938); 
  color: rgb(230, 0, 255);
}

.bottom-navigation {
  position: fixed; 
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(55, 241, 123, 0.938); 
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  z-index: 10; 
}

.nav-item {
  color: black; 
}

.center-item {
  display: flex;
  justify-content: center;
}

.center-button {
  --background: rgb(55, 241, 123, 0.938);
  --border-radius: 20px;
}

.center-button:hover {
  --background: rgba(55, 241, 123, 0.466);
}

ion-button {
  --background: rgb(55, 241, 123, 0.938);
  --border-radius: 20px;
  transition: background 0.3s;
}

ion-button:hover {
  --background: rgb(55, 241, 123, 0.938);
}

ion-menu-button::part(icon) {
  color: black; 
}

ion-menu {
  ion-icon {
    color: rgb(55, 241, 123, 0.938); 
  }
}

ion-item[button] {
  font-family: inherit; 
  color: rgb(255, 255, 255); 
}

ion-label {
  font-family: inherit; 
}

ion-menu {
  ion-item {
    border-bottom: 1px solid rgba(55, 241, 123, 0.938); 
    margin: 0; 
    padding: 8px 0; 
  }
}


ion-button[fill="clear"] .nav-item ion-icon {
  color: black; 
}

ion-button[fill="clear"]::part(native) {
  ion-icon {
    color: black; 
  }
}
