ion-content {
  --background: rgb(43, 43, 43); /* Fondo oscuro */
  display: flex; /* Para usar flexbox */
  flex-direction: column;
  justify-content: center; /* Centrado vertical */
  align-items: center; /* Centrado horizontal */
  padding: 20px;
  gap: 1em; /* Espacio entre elementos */
}

ion-card {
  width: 100%; /* Ocupa el ancho completo del contenedor */
  max-width: 400px; /* Limita el ancho máximo */
  background-color: rgb(43, 43, 43); /* Fondo oscuro */
  border-radius: 15px;
  padding: 15px;
  border: 2px solid rgb(55, 241, 123, 0.938); /* Verde */
  color: white;
  margin-bottom: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombras */
}

ion-card-header {
  background-color: rgb(55, 241, 123, 0.938); /* Verde */
  color: rgb(0, 0, 0); /* Texto negro */
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

ion-card-title {
  font-size: 1.25rem;
  font-weight: normal;
  color: rgb(0, 0, 0); /* Texto negro */
  text-align: center;
}

ion-card-content {
  font-size: 1rem;
  padding: 15px;
  color: white; /* Texto blanco */
  text-align: center;
}
