<ion-header>
  <ion-toolbar style="--background: rgb(55, 241, 123, 0.938);">
    <ion-title>Asistencia</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngFor="let asignatura of asignaturas; let i = index">
    <ion-button expand="block" class="asignatura-button" (click)="toggleCard(i)">
      {{ asignatura.nombre }}
    </ion-button>

    <ion-card *ngIf="asignaturaVisible[i]" class="asignatura-card">
      <ion-card-header>
        <ion-card-title>{{ asignatura.nombre }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="details">
          <p><strong>Clases:</strong> {{ asignatura.clases }}</p>
          <p><strong>Asistidas:</strong> {{ asignatura.asistidas }}</p>
          <p><strong>Porcentaje:</strong> {{ calcularPorcentaje(asignatura.asistidas, asignatura.clases) }}%</p>
        </div>

        <div class="progress-container">
          <ion-progress-bar
            [value]="calcularPorcentaje(asignatura.asistidas, asignatura.clases) / 100"
            color="success">
          </ion-progress-bar>
          <span class="progress-label">
            {{ calcularPorcentaje(asignatura.asistidas, asignatura.clases) }}%
          </span>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
