<ion-header>
  <ion-toolbar style="--background: rgb(255, 136, 0);">
    <ion-title>Asistencia</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngFor="let asignatura of asignaturas">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ asignatura.nombre }}</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <p><strong>Clases:</strong> {{ asignatura.clases }}</p>
        <p><strong>Asistidas:</strong> {{ asignatura.Asistidas }}</p>
        <p><strong>Porcentaje:</strong> {{ calcularPorcentaje(asignatura.Asistidas, asignatura.clases) | number: '1.0-2' }}%</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
