ion-content {
  --background: rgb(43, 43, 43); 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  gap: 1em;
  padding: 20px;
}


.asignatura-button {
  width: 100%;
  max-width: 400px;
  font-weight: bold;
  --background: rgba(55, 241, 123, 0.938); 
  --color: black; 
  margin-bottom: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}


ion-card {
  width: 100%;
  max-width: 400px;
  background: linear-gradient(145deg, #2c2c2c, #3b3b3b); 
  color: white;
  border-radius: 15px;
  border: 2px solid rgba(55, 241, 123, 0.938); 
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5); 
  overflow: hidden;
}


ion-card-header {
  background-color: rgba(55, 241, 123, 0.938); 
  color: black;
  padding: 15px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  border-bottom: 3px solid rgb(43, 43, 43);
}


ion-card-content {
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 1rem;
}


.details p {
  margin: 5px 0;
  font-size: 1rem;
  line-height: 1.5;
}


.progress-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

ion-progress-bar {
  flex: 1;
  height: 14px;
  border-radius: 10px;
  --background: rgba(255, 255, 255, 0.1); 
  --progress-background: rgb(55, 241, 123); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.progress-label {
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
}
